@import "reset.scss";

html {
    background-image: url('/images/bg.jpg');
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden; // necessary?
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.60);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 100px;
    margin-left: -125px;
    margin-top: -80px;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    position: relative;
    border: 4px solid black;
    border-radius: 12px;
    padding: 16px 20px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    background-color: rgba(255, 255, 255, 0.60);
}

.content p#delta {
    color: #777;
    border-color: #777;
}

.content p#finished {
    color: green;
    border-color: green;
}

.content p#failure {
    color: red;
    border-color: red;
}