<!DOCTYPE html>
<html>
  <head>
    <title>Counter</title>
    <meta name="description" content="Counter">
    <meta name="author" content="Scott Dupoy">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style/main.css"></link>
  </head>
  <body>
    <div class="blur">
        <div class="content">
            <p class="hidden" id="delta"></p>
            <p class="hidden"  id="failure">Failure!</p>
            <p class="hidden"  id="finished">Finished!</p>
        </div>
    </div>
    <script src="/js/counter.js"></script>
  </body>
</html>
